<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bancobiometria?useSSL=false&amp;zeroDateTimeBehavior=convertToNull</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>

        <!-- Specify dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Specify the HBM2DDL auto configuration -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Show SQL statements in the console -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Specify the default schema (if needed) -->
        <!-- <property name="hibernate.default_schema">your_schema</property> -->

        <!-- Mapping files -->
        <mapping class="main.Biometria2"/>
        <mapping class="modelo.Paciente"/>
        <mapping class="modelo.Usuario"/>
        <mapping class="modelo.Registro"/>
        <mapping class="modelo.Medico"/>
    </session-factory>
</hibernate-configuration>